/* @import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'); */


.carousel {
    height: 450px;
    width: 100%;
    perspective: 250px;
    margin-bottom: 50px;
    margin-top: -70px;

}

.carousel .carousel-item {
    width: 170px;
    background: #EFEFEF;
    padding: 50px;
    height: 240px;
    text-align: center;
    border-radius: 42% 42% 0 0;
}

.carousel .carousel-item.active {
    background-color: #F792FF;
}

.img-area {
    width: 100px;
    height: 200px;
    margin:  5px 30px 90px -10px;
    overflow: hidden;
    margin-bottom: 8px;

}

.img-area img {
    width: 100%;
}


.testi p {
    color: #262626;
    font-size: 18px;
    line-height: 1.9;
}

.testi h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px; margin: 0;
    margin-bottom: 9px;
   
    color: #000;
}

.testi button {
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: #C2FF40;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}